@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*         body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ECE5DD;
  /* Fondo similar a WhatsApp */
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  padding: 20px;
}

.title {
  color: #075E54;
  /* Color de WhatsApp */
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.select-prefix {
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
  background-color: #F0F0F0;
}

.textbox {
  flex: 1;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
  background-color: #F0F0F0;
}

.button {
  background-color: #25D366;
  /* Color del botón de WhatsApp */
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.button svg {
  fill: #FFFFFF;
  /* Color del icono dentro del botón */
  width: 24px;
  height: 24px;
}
